<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Churn Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Insurance Churn Prediction</h1>
        {% if filename %}
        <p>Prediction complete! You can download the results now or return to the main page to try another batch
            prediction.</p>
        <a href="{{ url_for('download_file', filename=filename) }}" class="button" download="{{ filename }}">Download
            Predictions</a>
        <a href="{{ url_for('upload') }}" class="button">Return to Main Page</a>
        <h2>Predicted Data:</h2>
        <table>
            <thead>
                <tr>
                    {% for col in df[0].keys() %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in df %}
                <tr>
                    {% for cell in row.values() %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload and Predict</button>
        </form>
        {% endif %}
    </div>
</body>

</html>