<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth_styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Login</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <span class="alert.closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>